@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #111827;
    /* gray-900 */
}

/* Custom Scrollbar for sleek look */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    /* Added height for horizontal scroll */
}

::-webkit-scrollbar-track {
    background: #1f2937;
}

::-webkit-scrollbar-thumb {
    background: #4b5563;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #39FF14;
}

/* Utilities */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}